<div class="container">
  <div class="form">
    <ul class="tab-group">
      <li class="tab" [class.active]="!isLoginFormActive">
        <a (click)="setLoginButtonClicked(false)">Sign Up</a>
      </li>
      <li class="tab" [class.active]="isLoginFormActive">
        <a (click)="setLoginButtonClicked(true)">Log In</a>
      </li>
    </ul>
    <div class="tab-content" >
      <app-registration *ngIf="!isLoginFormActive"></app-registration>
      <app-login *ngIf="isLoginFormActive"></app-login>
    </div>
  </div>
</div>
