<div id="registration">
  <h1>Sign Up for Free</h1>
  <form [formGroup]="userData" (ngSubmit)="onSubmit()" class="articleCreate">
    <div class="inputValidationError" *ngIf="isControlInvalid('name')||isControlInvalid('email')">
      <p>Please fill out all required fields</p>
      <!--<li>Please fill all mandatory fields</li>-->
    </div>
    <div class="inputValidationError" *ngIf="userData.get('password').getError('invalidPassword')">
      <p >
        {{userData.get('password').getError('invalidPassword')}}
      </p>
    </div>
    <input type="text" required autocomplete="off" placeholder="Enter your name" name="name" formControlName="name">
    <input type="email" required pattern="[^ @]*@[^ @]*" title="Required email format: xxx@xxx.xxx"  placeholder="Email Address" name="email" formControlName="email">
    <input type="password" required autocomplete="off" placeholder="Enter password" name="password" formControlName="password">
    <button type="submit" class="button-block" name="button">Create new account</button>
  </form>
</div>
