<footer>
  <div class="subscriber">
    <div class="subscriber__text">
      <span>If you want to be the first to know about new articles.</span>
    </div>
    <form class="subscriber__form" method="post">
      <input type="email" class="subscriber__form_email" name="" value="" placeholder="E-mail">
      <input type="submit" class="subscriber__form_button"name="" value="Subscribe">
      <p> <input type="checkbox" checked> I agree with the terms of use of the service</p>
    </form>
  </div>
  <div class="footer">
    <div class="footer__first-column">
      <p>Помощь</p>
      <p><a href="#">Вопрос-ответ</a></p>
      <p><a href="#">Доставка и оплата</a></p>
    </div>
    <div class="footer__second-column">
      <p>Компания</p>
      <p><a href="#">О компании</a></p>
      <p><a href="#">Сертификаты</a></p>
    </div>
    <div class="footer__third-column">
      <p>Компания</p>
      <p><a href="#">О компании</a></p>
      <p><a href="#">Сертификаты</a></p>
    </div>
    <div class="footer__last-column">
      <span>Звоните нам бесплатно:</span>
      <div class="footer__phoneNumber">
        8-800-333-49-80
      </div>
    </div>
  </div>
</footer>
