<div class="container">
  <div class="about-game">
    <h1>About the Game</h1>
    <div class="container2">
      <div class=" photo">
      </div>
      <div class="content">
        <p>
          Yes/No games are complicated situations that should be solved. Well-known facts seem illogical and strange. So it is more interesting to decipher a yes/no game and to understand what has actually happened. One can't do it without logic and intuition as well as the ability to notice details and reject wrong answers. Everyone who has chosen this captivating game will feel like a real detective.
        </p>
        <p>
          Here the answer is so unpredictable that every new riddle is like a leap into the unknown where the world is turned upside down and unbelievable things become possible. Although, the last ones have quite logical explanation. While playing a yes/no game, one can get drown into their own thoughts, because nobody except the leader of the game knows what has actually happened, so the most fantastic versions are possible...
        </p>
        <button class="btn" routerLink='/rules'>Read More</button>
      </div>
    </div>
  </div>
</div>
