<h1>All situation puzzles</h1>
<div class="filter">
  <select class="" id="">
    <option *ngFor="let item of sections" id="{{item._id}}" value={{item._id}}> {{item.sectionName|uppercase}}<option>
    <option selected>All Categories<option>
  </select>
  <button class="apply">Apply</button>
</div>
<div class="wrapper">
  <div class="container" *ngFor="let article of articles"  id="{{article._id}}">
    <div class="title">
      <h2>{{article.title}}</h2>
    </div>
    <div class="articleCard">
      <div class="article__text">{{article.text}}</div>
      <hr>
      <div class="buttons">
        <button type="button" name="button" class="details" [routerLink]= "[ '/stories',article._id]">More details</button>
      </div>
    </div>
  </div>
</div>
