<header class="header">
  <div class="navbar-wrapper">
    <div class="navbar">
      <a href="#" class="brand">English puZZle</a>
      <nav role="navigation" id="navigation" class="list">
        <a class="item" routerLink='/home'>Home</a>
        <a class="item" routerLink='/stories'>All pazzles</a>
        <a class="item" routerLink='/rules'>Rules</a>
          <a class="item" *ngIf="isAdmin" routerLink='/admin'>Admin page</a>
        <a class="item" (click)="logout()">Logout</a>
      </nav>
      <button class="toggle">
        <span class="icon"></span>
      </button>
    </div>
  </div>
</header>
